//fonts
$brand-font: 'Arial', sans-serif;

//colors
$color-main       : #000;

// screens
$screen-xs : 365px !default; // xs
$screen-sm : 480px !default; // sm
$screen-pfs: 512px !default; // pfs
$screen-ms : 640px !default; // ms
$screen-md : 768px !default; // md
$screen-xmd: 960px !default; // md
$screen-def: 1024px !default; // def
$screen-lg : 1280px !default; // lg
$screen-xl : 1366px !default; // xl
$screen-mg : 1440px !default; // mg
$screen-xmg: 1600px !default; // xmg
$screen-dt : 1920px !default; // dt